global
  maxconn 1024

defaults
  mode http
  timeout connect 2s
  timeout client 10s
  timeout server 10s

frontend gateway_http
  bind *:8080
  default_backend gateway_replicas

backend gateway_replicas
  balance roundrobin
  default-server init-addr last,libc,none
  option httpchk GET /actuator/health/readiness
  http-check expect status 200
  server gateway-1 gateway-1:8080 check inter 1s fall 2 rise 2
  server gateway-2 gateway-2:8080 check inter 1s fall 2 rise 2
  server gateway-3 gateway-3:8080 check inter 1s fall 2 rise 2
